.selectedPage{
    font-weight: bolder;
}
.pageContainer{
    display: flex;
    font-family: cursive;
    width: 390px;
    justify-content: space-evenly;
    margin: 0 auto;
}
.pageContainer button{
    background: none;
    border: none;
    font-size: 20px;
    outline: none;
}
.pageContainer span{
    cursor: pointer;
}
