.jobPic {
    width: 40px;
    height: 40px;
}

.descriptionBlock {
    margin: 10px 0;
}

.avatar {
    width: 350px;
    height: 350px;

}

.contactImg {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    margin-right: 5px;
}

.profileInfo {
    padding: 10px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    display: flex;

}

.contactItem {
    display: flex;
    height: 60px;
    align-items: center;
}

.jobStatus {
    height: 60px;
    display: flex;
    align-items: center;
}

.contactContainer {
    margin: 0 30px;
}

.profileStatus {
    cursor: pointer;
}


.fileForm {
    border-radius: 20px;
    height: 26px;
    padding: 2px;
    position: relative;
    width: 330px;
    border: solid #32a4c7 3px;
    opacity: 0;

}

.selectButton {
    border-radius: 2px;
    color: darkorange;
    font-size: 16px;
    height: 20px;
    padding: 2px 6px;
    text-align: center;
    font-family: "Comic Sans MS";
    width: 330px;

}

.upload {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    height: 30px;
    z-index: 20;
    width: 330px;

}

.status {
    font-family: Arial;
    font-weight: bolder;
    text-decoration: underline;
    padding: 15px;
}

.fileForm:hover {
    opacity: 1;
    transition-duration: .4s;
}
